@font-face {
	font-family: 'FranklinGothicMedium';
	src: url('../fonts/framd.eot');
	src: local('☺'), url('../fonts/framd.woff') format('woff'), 
    url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    height: 100%;
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background: #344051;
    z-index: 10;
    opacity: 0.9;
}

.name_logo{
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
    font-family: 'FraknlinGothicMedium', sans-serif;
}

@keyframes comming{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }

    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu{
    float: left;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.8s ease forwards;
    -o-animation: topshift 0.8s ease forwards;
    animation: topshift 0.8s ease forwards;
    opacity: 0;
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}

.menu li:nth-child(3){
    animation-delay: 0.8s;
}

.menu li:nth-child(4){
    animation-delay: 1.2s;
}

.menu li:nth-child(5){
    animation-delay: 1.6s;
}

.menu li:nth-child(6){
    animation-delay: 2s;
}

@keyframes title_move{
    from{
        opacity: 0;
        margin-left: -500px;
    }

    to{
        opacity: 1;
        margin-left: 0px;
    }
}

.menu li a{
    transition: all 0.3s;
    color: white;
    display: inline-block;
    transform: scale(1);
    text-decoration: none;
}

.menu li a:hover{
    color: #d17700;
}

.menu li a:active{
    transform: scale(1.1);
}

.first_page_main{
    width: 100%;
    height: 100%;
    background: url("../img/mebg.png") right/40% auto no-repeat local, url("../img/bg.jpg") center/cover no-repeat local;
}

@media (max-width: 991px){
    .first_page_main{
        width: 100%;
        height: 100%;
        background: url("../img/mebg.png") right/100% auto no-repeat local, url("../img/bg.jpg") center/cover no-repeat local;
    }
}
.title_container{
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    opacity: 0;
    -webkit-animation: title_move 1s forwards ease;
    -o-animation: title_move 1s forwards ease;
    animation: title_move 1s forwards ease;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

.title_container h1{
    font-size: 60px;
    font-family: 'FraknlinGothicMedium', sans-serif;
}

.title_container h4{
    margin-top: 30px;
    font-size: 22px;
    color: #79818d;
}

.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 15px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
}

.title_container input:hover{
    background: #344051;
    color: white;
}

.title_container input:active{
    transform: scale(1.1);
}

.about_me h3{
    text-align: center;
    margin-top: 112px;
    font-size: 25px;
    font-weight: bold;
    color: #263244;
}

.orange_line1{
    text-align: center;
    margin-top: 32px;
}

.my_photo{
    text-align: center;
    margin: 50px 0px 28px 0px;
}

.my_photo:hover{
    position: relative;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.animation_photo{
    text-align: center;
}

.animation_photo:hover{
    -webkit-animation: top_up_down_img 2s forwards;
    -o-animation: top_up_down_img 2s forwards;
    animation: top_up_down_img 2s forwards;
}

.about_me p{
    margin-bottom: 40px;
    font-family: 'FranklinGothicMedium';
    color: #3f495a;
}

.download_img{
    font-family: 'FranklinGothicMedium';
	color: #6f707f;
    font-size: 15px;
    padding: 10px 20px 10px 50px;
    margin-bottom: 100px;
    border: 2px solid #6f707e;
    border-radius: 5px;
    background: url("../img/download.jpg") left/auto 50% no-repeat;
    transition: all 0.2s;
    transform: scale(1);
}

.download_img:hover{
    transform: scale(1.1);
}

.third_page_main{
    background: url("../img/what_can_i_do_bg.jpg") center/cover no-repeat local;
}

.what_can_i_do h3{
    text-align: center;
    padding-top: 112px;
    font-size: 25px;
    font-weight: bold;
    color: #263244;
}


.third_page_icons{
    display: flex;
    justify-content: space-around;
}

.third_page_icons p{
    color: #cf7600;
    font-weight: bold;
    font-size: 15px;
    
}

.third_page_icons span{
    color: #3f495a;
    transition: all 0.5s;
}

.third_page_icons span:hover{
    background: #3f495a;
    color: #fff;
    
}

.third_page_icons img{
    transform: scale(1);
    transition: all 0.2s;
}

.third_page_icons img:hover{
    transform: scale(1.2);
}


.orange_line2{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 112px;
}

.laptop_webdesign{
    float: left;
    text-align: center;
}

.laptop_webdesign p{
    margin-top: 15px;
    margin-bottom: 10px;
}
.sign_development{
    float: left;
    text-align: center;
}

.sign_development p{
    margin-top: 15px;
    margin-bottom: 10px;
}
.rocket_ceooptimization{
    float: left;
    text-align: center;
}

.rocket_ceooptimization p{
    margin-top: 15px;
    margin-bottom: 10px;
}

.gramophone_marketing{
    text-align: center;
}

.gramophone_marketing p{
    margin-top: 15px;
    margin-bottom: 10px;
}

@media (max-width: 1000px){
    .third_page_icons div{
        float: none;
    }
    .third_page_icons{
        display: block;
        margin-bottom: 10px;
    }

    .orange_line2{
        margin-bottom: 50px;
    }
}

.cases h3{
    text-align: center;
    padding-top: 112px;
    font-size: 25px;
    font-weight: bold;
    color: #263244;
}

.orange_line3{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 40px;
}

.cases p{
    text-align: center;
    color: #646b77;
    margin-bottom: 46px;
}

.case_description{
    display: flex;
}

.case_description h4{
    color: #384354;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.1px;
}

.case_description p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: #5f6c7b;
    font-family: 'FranklinGothicMedium';;
}
.client_and_website_block{
    margin-right: 15px;
}

.client_and_website_block a{
    text-decoration: none;
    color: #5f6c7b;
}

.client_and_website_block a:hover{
    color: #4d8cd6;
}

.case_description input{
    color: #fff;
    background-color: #63b5ae;
    border: 2px solid #63b5ae;
    border-radius: 5px;
    padding: 10px 36px 10px 36px;
    font-weight: bold;
    transition: all 0.5s;
    transform: scale(1);
    transform: rotate(-10deg);
}

.case_description input:hover{
    transform: scale(1.2);
    transform: rotate(0deg);
}

.case_description h5{
    color: #384354;
    font-weight: bold;
    font-size: 17px;
}

@media (max-width: 1200px){
    .opencloud_img img{
        max-width: 600px;
    }
}

@media (max-width: 800px){
    .opencloud_img img{
        max-width: 400px;
    }
}

.fifth_page_main h2{
    text-align: center;
    padding-top: 112px;
    font-size: 28px;
    font-weight: bold;
    color: #263244;
}

.fifth_page_main div{
    text-align: center;
    margin-top: 64px;
}

.fifth_page_main select{
    width: 996px;
    background-color: #eee;
    border: 1px solid #eee;
    padding: 21px 27px 21px 27px;
}


.fifth_page_main h3{
    margin-bottom: 24px;
    color: #1c2534;
    font-weight: bold;
    font-size: 20px;
}


.site_type h3{
    margin-right: 870px;
}

.website_design h3{
    margin-right: 895px;
}

.adaptability h3{
    margin-right: 805px;
}

@media (max-width: 1100px){
    .fifth_page_main select{
        width: 420px;
    }

    .fifth_page_main h3{
        text-align: center;
        margin-right: 0px;
    }
}

.fifth_page_main p{
    text-align: center;
    margin-top: 41px;
}

.price_and_time h5{
    color: #1c2534;
    font-size: 20px;
    font-weight: bold;
}

.price_and_time input{
    transition: all 0.3s;
    transform: scale(1);
}
.price_and_time input:hover{
    transform: scale(1.1);
}
.price_and_time input:active{
    transform: scale(1);
}

.timing{
    word-spacing: 915px;
    margin-bottom: 28px;
}

.price{
    word-spacing: 869px;
}

.price_and_time input{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
    background-color: #63b5ae;
    border: 2px solid #63b5ae;
    padding: 21px 27px 21px 27px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.fifth_page_main select{
    transition: all 2s;
}
.fifth_page_main select:hover{
    background-color: #63b5ae;
    border-radius: 10px;
}

@media (max-width: 1200px){
    .total_line_img img{
        max-width: 600px;
    }
}

@Media (max-width: 800px){
    .total_line_img img{
        max-width: 400px;
    }
}

.sixth_page_main{
    background: url("../img/stats_bg.jpg") center/80% 50% no-repeat local;
    background-attachment: fixed;
}

@media (max-width: 1000px){
    .sixth_page_main{
        background: url("../img/stats_bg.jpg") center/auto 100% no-repeat local;
        background-attachment: fixed;
    }
}


.statistics h3{
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    font-weight: bold;
    color: #263244;
}

.orange_line4{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 40px;
}

.sixth_page_icons{
    display: flex;
    justify-content: space-around;
}
.smile{
    text-align: center;
    float: left;
    padding-bottom: 4%;
}

.orange_sign{
    text-align: center;
    float: left;
    padding-bottom: 4%;
}

.check_mark{
    text-align: center;
    float: left;
    padding-bottom: 4%;
} 

.cup{
    text-align: center;
    padding-bottom: 4%;
}

@media (max-width: 1000px){
    .sixth_page_icons div{
        float: none;
    }
    .sixth_page_icons{
        display: block;
        margin-bottom: 10px;
    }

    .orange_line4{
        margin-bottom: 50px;
    }
}

.statistics h2{
    font-weight: 900;
    font-size: 30px;
    margin: 30px 0px 30px 0px;
    color: #323e4f;
}

.statistics span{
    color: #323e4f;
    font-weight: 540;
}

.reviews h3{
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    font-weight: bold;
    color: #263244;
}

.gazprom_img{
    text-align: center;
}

.reviews p{
    text-align: center;
    padding-top: 30px;
    color: #545b66;
    font-weight: 500;
}

.points{
    margin-left: 48%;
    margin-top: 56px;
    word-spacing: 10px;
}

.my_contacts h3{
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.eighth_page_main{
    background: url("../img/contact_bg.jpg") center/100% 100% no-repeat local ;
}

@media(max-width: 1000px){
    .eighth_page_main{
        background: url("../img/contact_bg.jpg") center/auto 100% no-repeat local;
    }
}

.eighth_page_main p{
    color: #fff;
}

.my_contacts p{
    text-align: center;
    margin-bottom: 15px;
}
.eighth_page_upper_icons{
    display: flex;
    justify-content: space-around;
}
.eighth_page_upper_icons img{
    margin-bottom: 20px;
}

.geolocation{
    text-align: center;
    float: left;
}

.letter{
    text-align: center;
    float: left;
}

.phone{
    text-align: center;
    float: left;
}

.leave_me_a_message h4{
    margin-top: 50px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    font-size: 16px;
}


.leave_me_a_message input{
    width: 393px;
    background-color: #d7dbe1;
    color: #5d5d5e;
    padding: 10px 16px 16px 16px;
    margin: 16px 0px 16px 6px;
    transition: all 0.3s;
}

.leave_me_a_message input:focus{
    background-color: #d1d1d1;
}

.leave_me_a_message p{
    text-align: center;
}

.leave_me_a_message textarea{
    width: 795px;
    height: 104px;
    margin-left: 5px;
    background-color: #d7dbe1;
    color: #5d5d5e;
    padding: 9px 14px 0px 14px;
    transition: all 0.3s;
}

@media (max-width: 991px){
    .leave_me_a_message textarea{
        width: 393px;
    }
}

.leave_me_a_message textarea:focus{
    background-color: #d1d1d1;
}

.eighth_page_submit p{
    text-align: center;
}
.eighth_page_submit input{
    background: none;
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 140px;
    height: 50px;
    margin-top: 32px;
    margin-bottom: 114px;
    transition: all 0.2s;
}

.eighth_page_main input:hover{
    background: #fff;
    color: #2c384a;
}
footer{
    color: #fff;
    text-align: center;
    padding: 52px;
    background: url("../img/footer.jpg") center/100% 100% no-repeat;
}

.loader{
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}

.loader_name{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    line-height: 20px;
}

.loader_elem{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    animation: loading_color 1s infinite;
}

.loader_elements{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% - 20px));
}

@keyframes loading_color{
    0%{
        background: #fff;
    }
    50%{
        background: orange;
        border-color: orange;
    }
    100%{
        background: #fff;
        border-color: #fff;
    } 
}

.custom_css3{
    font-size: 40px;
}

.white-btn:visited{
    color:White
}

@media (max-width: 991px){
    .title_container, .title_container input, .title_container h4{
        color: #fff;
        position: relative;
        z-index: 3
    }

    .main{
        position: relative;
    }

    .main::after{
        content: "";
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4)
    }

    .title_container input{
        border: 2px solid #fff;
    }
}


