body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.name_logo{
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu{
    float: left;
    padding-left: 20%;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
}

.first_page_main{
    width: 100%;
    height: calc(100% - 60px);
    background: url("../img/mebg.png") right/auto 100% no-repeat, url("../img/bg.jpg") center/cover no-repeat local;
}

.title_container{
    float: left;
    margin: 20% 0px 0px 15%;
    color: #2c384a;
    text-align: center;
}

.title_container h1{
    font-size: 60px;
    font-weight: bold;
}

.title_container h4{
    margin-top: 30px;
    font-size: 22px;
    color: #79818d;
}

.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 15px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.about_me h3{
    text-align: center;
    margin-top: 112px;
    font-size: 25px;
    font-weight: bold;
    color: #263244;
}

.orange_line1{
    text-align: center;
    margin-top: 32px;
}

.my_photo{
    text-align: center;
    margin: 50px 0px 28px 0px;
}

.about_me p{
    margin-left: 35%;
    margin-bottom: 40px;
    color: #3f495a;
}

.download_img{
    padding: 10px 20px 10px 20px;
    margin: 0px 45% 110px calc(50% - 50px);
    border: 2px solid #6f707e;
    border-radius: 5px;
    background: url("../img/download.jpg") left/auto 50% no-repeat;
}

.third_page_main{
    background: url("../img/what_can_i_do_bg.jpg") center/cover no-repeat local;
}

.what_can_i_do h3{
    text-align: center;
    padding-top: 112px;
    font-size: 25px;
    font-weight: bold;
    color: #263244;
}

.third_page_icons p{
    color: #cf7600;
    font-weight: bold;
    font-size: 15px;
}

.third_page_icons span{
    color: #3f495a;
}

.orange_line2{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 112px;
}

.laptop_webdesign{
    float: left;
    text-align: center;
    margin-left: 5%;
    margin-right: 96px;
}

.laptop_webdesign p{
    margin-top: 15px;
    margin-bottom: 10px;
}
.sign_development{
    float: left;
    margin-right: 96px;
    text-align: center;
}

.sign_development p{
    margin-top: 15px;
    margin-bottom: 10px;
}
.rocket_ceooptimization{
    float: left;
    text-align: center;
    margin-right: 96px;
}

.rocket_ceooptimization p{
    margin-top: 15px;
    margin-bottom: 10px;
}

.gramophone_marketing{
    text-align: center;
}

.gramophone_marketing p{
    margin-top: 15px;
    margin-bottom: 10px;
}

.cases h3{
    text-align: center;
    padding-top: 112px;
    font-size: 25px;
    font-weight: bold;
    color: #263244;
}

.orange_line3{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 40px;
}

.cases p{
    text-align: center;
    color: #646b77;
    margin-bottom: 46px;
}

.ocimg{
    text-align: center;
}

.case_description{
    margin-left: 11.7%;
}

.case_description h4{
    color: #384354;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.1px;
}

.case_description p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: #3f495a;
}
.case_description input{
    color: #fff;
    background-color: #63b5ae;
    border: 2px solid #63b5ae;
    border-radius: 5px;
    padding: 10px 36px 10px 36px;
    font-weight: bold;
}

.case_description>h5{
    float: right;
    margin-right: 75%;
    color: #384354;
    font-weight: bold;
    font-size: 17px;
}

.case_description span{
    float: right;
    margin-right: 29.2%;
}

.fifth_page_main h2{
    text-align: center;
    padding-top: 112px;
    font-size: 28px;
    font-weight: bold;
    color: #263244;
}

.fifth_page_main div{
    text-align: center;
    margin-top: 64px;
}

.fifth_page_main select{
    width: 996px;
    background-color: #eee;
    border: 1px solid #eee;
    padding: 21px 27px 21px 27px;
}

.fifth_page_main h3{
    margin-bottom: 24px;
    margin-right: 870px;
    color: #1c2534;
    font-weight: bold;
    font-size: 20px;
}

.website_design h3{
    margin-right: 895px;
}

.adaptability h3{
    margin-right: 805px;
}

.fifth_page_main p{
    text-align: center;
    margin-top: 41px;
}

.price_and_time h5{
    color: #1c2534;
    font-size: 20px;
    font-weight: bold;
}

.timing{
    word-spacing: 915px;
    margin-bottom: 28px;
}

.price{
    word-spacing: 869px;
}

.price_and_time input{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
    background-color: #63b5ae;
    border: 2px solid #63b5ae;
    padding: 21px 27px 21px 27px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.sixth_page_main{
    background: url("../img/stats_bg.jpg") center/cover no-repeat local;
}

.statistics h3{
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    font-weight: bold;
    color: #263244;
}

.orange_line4{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 40px;
}

.smile{
    text-align: center;
    float: left;
    margin-left: 10%;
    padding-bottom: 4%;
}

.orange_sign{
    text-align: center;
    float: left;
    margin-left: 15%;
    padding-bottom: 4%;
}

.check_mark{
    text-align: center;
    float: left;
    margin-left: 12%;
    margin-right: 5%;
    padding-bottom: 4%;
} 

.cup{
    text-align: center;
    padding-bottom: 4%;
}

.statistics h2{
    font-weight: 900;
    font-size: 30px;
    margin: 30px 0px 30px 0px;
    color: #323e4f;
}

.statistics span{
    color: #323e4f;
    font-weight: 540;
}

.reviews h3{
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    font-weight: bold;
    color: #263244;
}

.gazprom_img{
    text-align: center;
}

.reviews p{
    text-align: center;
    padding-top: 30px;
    color: #545b66;
    font-weight: 500;
}

.points{
    margin-left: 48%;
    margin-top: 56px;
    word-spacing: 10px;
}

.my_contacts h3{
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.eighth_page_main{
    background: url("../img/contact_bg.jpg") center/100% 100% no-repeat local ;
}

.eighth_page_main p{
    color: #fff;
}

.my_contacts p{
    text-align: center;
    margin-bottom: 15px;
}

.geolocation{
    margin-left: 25%;
    text-align: center;
    float: left;
}

.letter{
    margin-left: 10%;
    text-align: center;
    float: left;
}

.phone{
    margin-right: 10%;
    text-align: center;
}

.leave_me_a_message h4{
    margin-top: 50px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.eighth_page_upper_icons img{
    margin-bottom: 20px;
}

.leave_me_a_message input{
    width: 393px;
    background-color: #d7dbe1;
    color: #5d5d5e;
    padding: 10px 16px 16px 16px;
    margin: 16px 0px 16px 6px;
}

.leave_me_a_message p{
    text-align: center;
}

.leave_me_a_message textarea{
    width: 795px;
    height: 104px;
    margin-left: 5px;
    background-color: #d7dbe1;
    color: #5d5d5e;
    padding: 9px 14px 0px 14px;
}

.eighth_page_submit p{
    text-align: center;
}
.eighth_page_submit input{
    background: none;
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 140px;
    height: 50px;
    margin-top: 32px;
    margin-bottom: 114px;
}

footer{
    color: #fff;
    text-align: center;
    padding: 52px;
    background: url("../img/footer.jpg") center/100% 100% no-repeat;
}





