body{
    padding:50px;
}
/*
.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: azure;
    transition: all 2s 0.1s ease;
}

.box span{
    display: block;
    text-align: center;
    margin-top: 90px;
}

.box:hover{
    background-color: red;
    width: 300px;
    opacity: 0;
}


.box:active{
    margin-left: 900px;
}
*/

.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: azure;
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation: move 2s infinite alternate, color 2s infinite;
    animation-fill-mode: forwards;/* Если останавливается, то в конце */
}

.box span{
    display: block;
    text-align: center;
    margin-top: 90px;
}

@keyframes color{
    0%{
        background: red;
    }

    20%{
        background: green;
    }

    40%{
        background: blue;
    }

    60%{
        background: orange;
    }
    80%{
        background: chartreuse;
    }
    100%{
        background: yellow;
    }
}

@keyframes move{
    from{
        margin-left: 0;
    }

    to{
        margin-left: 300px;
    }
}

.box:hover{
    animation-play-state: paused;
}